/* Poster */

#poster {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
}

#poster>a>img:hover {
    transition: transform 1s;
    transform: scale(1.1);
}


/* Numbers */

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

#value1 {
    transition: --num 2s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
}

#value1::after {
    content: counter(num);
}

#value1:hover {
    --num: 16;
}

#value2 {
    transition: --num 1s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
}

#value2::after {
    content: counter(num);
}

#value2:hover {
    --num: 4;
}